<app-loading
    *ngIf="loading">
</app-loading>

<div 
  *ngIf="!loading">
  <h2>Tabela do Brasileirão</h2>
  <table 
    class="table">
    <tr>
      <td><h3>Time</h3></td>
      <td><h3>Pontuacao</h3></td>
      <td><h3>Vitorias</h3></td>
      <td><h3>Empates</h3></td>
      <td><h3>Derrotas</h3></td>
      <td><h3>Saldo Gols</h3></td>
      <td><h3>Jogos</h3></td>
    </tr>
    <tr *ngFor="let time of times" >
      <td><img src="{{time.brasao}}"/><h4>{{time.nome}}</h4></td>
      <td><h4>{{time.info.pg.total}}</h4></td>
      <td><h4>{{time.info.v.total}}</h4></td>
      <td><h4>{{time.info.e.total}}</h4></td>
      <td><h4>{{time.info.d.total}}</h4></td>
      <td><h4>{{time.info.sg.total}}</h4></td>
      <td><h4>{{time.info.j.total}}</h4></td>
    </tr>
  </table>
</div>