<section class='container'>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          <h2>Recover Password</h2>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="email"  
              class="form-control input-lg" 
              placeholder="Email Address"
              [(ngModel)]="email">
          </div>
          <hr class="colorgraph">
          <button
            (click)="onDestroyForgetPasswordComponent()"
            class="btn btn-danger register">
            Go Back
          </button>
          <button
            (click)="forgetPassword()"
            class="btn btn-info register">
            Get Password
          </button>
          <app-user-password [password]="password"></app-user-password>
        </div>
      </div>
  </section>
  